div {
    .text {
        color: white;
    }
    .bluebutton {
        background-color: rgb(117, 198, 224);
        border: 0px;
        border-radius: 10px;
        height: 30px;
        width: 120px;
    }
}